# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
.angular/
.tmp/
out-tsc/

# Environment
.env

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

# Coverage
coverage/

# .ENV
.env
*.env

# Ignore Postgres volume
infra/local